css
body {
   font-family:Arial, sens-serif;
   background-color: beige;
}
.page{
   width: 800px;
   margin: 20px auto;
   background: pink;
   padding: 20px;
   border: 2px solid #b5b5b5;
}
.header {
   background-color: aliceblue;
   padding: 10px;
   border: 2px solid #000;
   text-align: right;
}
.header h1 {
   color:black;
   margin: 0;


}
.email {
   font-size: 14px;
}
.box {
   border:2px solid #c44;
   padding: 15px;
   margin-top: 20px;
   background: #e577e5;
}
.box h2{
   color:aquamarine;
}
.image-box{
   text-align: center;
}
.image-box img {
   width: 200px;
}
table {
   width: 100%;
   border-collapse: collapse;
}
th, td {
   border: 1px solid black;
   padding: 8px;
}
.slide {
   width: 150px;
   height: 120px;
   background-color: white;
   border: 2px solid #aaa;
   display: flex;
   align-items: center;
   justify-content: center;
}
.slideshow {
    width: 300px;
    height: 200px;
    margn: auto;
    position: relative;
    overflow: hidden;
    border: 2px splid #999;
}
.slideshow img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity 0;
    animation: slideShow 9s infinite; 
}
.slideshow img:nth-child(1); {
    anmation-delay: 0s;
}
.slideshow img:nth-child(2); {
    animation-delay: 3s;
}
.slideshow img:nth-child(3); {
    animation-delay: 6s;
}
@keyframes slideshow {
   0% {opacity: 0; }
   10% {opacity: 1; }
   30% {opacity: 1; }
   40% {opacity: 0; }
   100% {opacity: 0; }
}

    
